<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SeleniumTests" verbose="1">
    <test name="TestsInChrome">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="test.StyleTests"/>
            <class name="test.SimpleSearchTests" />
            <class name="test.DownloadFileTests" />
        </classes>
    </test>
    <test name="TestsInFirefox">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="test.AdvancedSearchTests"/>
            <class name="test.StyleTests"/>
            <class name="test.SimpleSearchTests" />
        </classes>
    </test>
</suite>